body {
	background-image: url("tron.jpg");
	background-repeat: repeat-y;
	background-size: 117% 81%;
}
h1 {
	font-family: 'Audiowide', cursive;
	color: #12FDFD;
	padding-top: 
}
.board {
	width: 400px;
	height: 500px;
	margin: auto;
	float: none;
	padding: 100px;
}

.allCells {
	background-color: #12FDFD;
	border: solid black;
	border-radius: 30%;
	float: left;
	width: 90px;
	height: 90px;
	padding: 15px;
	opacity: .5;
}

.clickX {
	background-color: red;
}

.clickY {
	background-color: blue;
}

